
@media (prefers-color-scheme: dark) {

  * {

    --bg1: #212124;
    --background_tab: hsl(200, 35%, 20%);
    --background_inner_tab: hsl(170, 20%, 19%);
    --background_dark: hsl(240, 4%, 8%);
    --background_main: hsl(240, 4%, 14%);
    --background_input: hsl(240, 3%, 17%);
    --background_tag: hsl(240, 5%, 25%);
    --background_input_border: hsl(240, 5%, 30%);

    --text_color: hsl(200, 12%, 70%);

    --gray_1: hsl(200, 15%, 30%);

    --yellow: hsl(40, 60%, 60%);
    --green: hsl(90, 60%, 60%);
    --pink: hsl(280, 60%, 70%);
    --red: hsl(0, 60%, 60%);
    --blue: hsl(221, 60%, 60%);
    --cyan: hsl(196, 60%, 60%);
    --purple: hsl(262, 60%, 60%);
    --orange: hsl(27, 60%, 60%);

    --hover: brightness(130%);
  }
}

@media (prefers-color-scheme: light) {

  * {

    --bg1: hsl(200, 5%, 90%);
    --background_tab: hsl(200, 30%, 85%);
    --background_inner_tab: hsl(170, 20%, 70%);
    --background_main: hsl(200, 15%, 95%);
    --background_input: hsl(200, 15%, 80%);

    --text_color: hsl(200, 12%, 30%);

    --gray_1: hsl(200, 15%, 70%);

    --yellow: hsl(40, 60%, 40%);
    --green: hsl(70, 60%, 40%);
    --pink: hsl(280, 40%, 50%);
    --red: hsl(0, 60%, 40%);
    --blue: hsl(221, 60%, 40%);
    --purple: hsl(262, 60%, 40%);
    --orange: hsl(27, 60%, 40%);
    --cyan: hsl(196, 60%, 40%);

    --hover: brightness(90%);
  }
}

small{
  color: var(--text_color);
}