$blue:#8ab4f8;

@media (prefers-color-scheme: dark) {
  * {
    --background_main: hsl(240, 4%, 14%);
    --background_input: hsl(240, 3%, 17%);
    --background_frame_selected: #333138;
    --frame_border: #3b3939;
    --background_tag: hsl(240, 5%, 25%);
    --background_input_border: hsl(240, 5%, 30%);
    --scroll: hsl(200, 15%, 30%);
    --text_color: hsl(200, 12%, 70%);
    --yellow: hsl(44, 97%, 69%);
    --green: hsl(137, 40%, 65%);
    --pink: #ff8bcb;
    --red: #f28b82;
    --blue: #8ab4f8;
    --cyan: #78d9ec;
    --purple: #c58af9;
    --orange: hsl(27, 60%, 60%);
    --white: #b9bbbe;
    --red_power: #dc584f;
    --hover: brightness(130%);
  }
}

@media (prefers-color-scheme: light) {
  * {
    --background_main: #f5f5f5;
    --background_input: #f1f3f4;
    --background_frame_selected: #dddddd;
    --frame_border: #3b3939;
    --background_tag: #c6c5c5;
    --background_input_border: hsl(240, 5%, 30%);
    --scroll: #bac4c8;
    --text_color: #5c6164;
    --yellow: #f9ab00;
    --green: #178039;
    --pink: #d01784;
    --red: #d93025;
    --blue: #1973e8;
    $blue:#1973e8;
    --cyan: #037b83;
    --purple: #a141f4;
    --orange: #fa903d;
    --white: #5f6367;
    --red_power: #dc584f;
    --hover: brightness(80%);
  }
}

small{
  color: var(--text_color);
}