
@media (prefers-color-scheme: dark) {

  * {

    --bg1: hsl(200, 5%, 20%);
    --background_tab: hsl(200, 35%, 20%);
    --background_inner_tab: hsl(170, 20%, 19%);
    --background_main: hsl(200, 15%, 12%);
    --background_input: hsl(200, 15%, 20%);

    --text_color: hsl(200, 12%, 70%);

    --gray_1: hsl(200, 15%, 30%);

    --yellow_60: hsl(40, 60%, 60%);

    --green_40_40: hsl(70, 40%, 40%);
    --green_60_60: hsl(70, 60%, 60%);

    --pink1: hsl(280, 60%, 70%);

    --red_40_40: hsl(0, 40%, 40%);
    --red_60: hsl(0, 60%, 60%);

    --blue1: hsl(210, 30%, 60%);
    --blue_60: hsl(221, 60%, 60%);

    --hover: brightness(130%);
  }
}

@media (prefers-color-scheme: light) {

  * {

    --bg1: hsl(200, 5%, 90%);
    --background_tab: hsl(200, 30%, 85%);
    --background_inner_tab: hsl(170, 20%, 70%);
    --background_main: hsl(200, 15%, 95%);
    --background_input: hsl(200, 15%, 80%);

    --text_color: hsl(200, 12%, 30%);

    --gray_1: hsl(200, 15%, 70%);

    --yellow_60: hsl(40, 60%, 60%);

    --green_40_40: hsl(70, 40%, 60%);
    --green_60_60: hsl(70, 60%, 40%);

    --pink1: hsl(280, 40%, 50%);

    --red_40_40: hsl(0, 40%, 60%);
    --red_60: hsl(0, 60%, 40%);

    --blue1: hsl(210, 40%, 50%);
    --blue_60: hsl(221, 60%, 40%);

    --hover: brightness(90%);
  }
}

small{
  color: var(--text_color);
}